<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">

    <head>
        <meta charset="UTF-8"/>
        <title>Customers</title>
        <link type="text/css" rel="stylesheet" href="styles/indexPage.css" />
    </head>

    <body>

        <div id = "wrapper" align="center">
            <div id = "header" align="center">
                <h2 th:text="'List of customers'">List of customers (default)</h2>
            </div>
        </div>

        <div id = "container" align="center">
            <div id = "content">

                <!-- ADD button code -->
                <input type="button" value="Add Customer"
                        onclick="window.location.href='showFormForAdd'; return false;"
                        class="add-button" />

                <!--add a search form  -->
                <form th:action="@{/search}" method="get">
                    Search customer:
                    <input type="text" name="theSearchName" />
                    <input type="submit" value="Search"  />
                    <!--clear search button -->
                    <input type="button" value="Clear search" onClick="window.location.href='/'; return false;"/>
                </form>
                
                <br>

                <!-- add html table here -->
                <table id="customerTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
            
                    <tbody>
                        <tr th:each = "customer : ${customerList}">

                            <td th:text="${customer.id}">1</td>
                            <td th:text="${customer.firstName}">NA</td>
                            <td th:text="${customer.lastName}">NA</td>
                            <td th:text="${customer.email}">NA</td>
                            <td>
                                <a th:href="@{/showFormForUpdate(customerId=${customer.id})}">Update</a>
                                |
                                <a th:href="@{/deleteCustomer(customerId=${customer.id})}"
                                   onclick="if(!(confirm('Are you sure you want to delete this customer?')))return false">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </body>

</html>