<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">

    <head>
        <meta charset="UTF-8"/>
        <title>Customers</title>
    </head>

    <body>

        <h2 th:text="'List of customers'">List of customers (default)</h2>
    
        <table id="customerTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                </tr>
            </thead>
            
            <tbody>
                <tr th:each = "customer : ${customerList}">
                    <td th:text="${customer.id}">1</td>
                    <td th:text="${customer.firstName}">NA</td>
                    <td th:text="${customer.lastName}">NA</td>
                    <td th:text="${customer.email}">NA</td>
                </tr>
            </tbody>
        </table>
    
    </body>

</html>