<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">

    <head>
        <meta charset="UTF-8"/>
        <title>Customers</title>
        <link type="text/css" rel="stylesheet" href="styles/indexPage.css" />
    </head>

    <body>

        <div id = "wrapper">
            <div id = "header">
                <h2 th:text="'List of customers'">List of customers (default)</h2>
            </div>
        </div>

        <div id = "container">
            <div id = "content">

                <!-- add html table here -->
                <table id="customerTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
            
                    <tbody>
                        <tr th:each = "customer : ${customerList}">
                            <td th:text="${customer.id}">1</td>
                            <td th:text="${customer.firstName}">NA</td>
                            <td th:text="${customer.lastName}">NA</td>
                            <td th:text="${customer.email}">NA</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </body>

</html>